{% extends 'base.html' %}

{% block content %}

<h1>Šifrēt</h1>
<form action="encrypt" method="POST">
    {% csrf_token %}
    Visi lauki jāievada hexadecimal formātā 16 simboli, jeb 64biti! piem 1234567890ABCDEF<br><br>
    Šifrējamais teksts: <input type="text" name="text"><br><br>
    Atslēga1: <input type="text" name="key1" required><br><br>
    Atslēga2: <input type="text" name="key2"><br><br>
    Atslēga3: <input type="text" name="key3"><br><br>
    <input type="submit">
</form>
<br><br><br><br><br>
<h1>Atšifrēt</h1>
<form action="decrypt" method="POST">
    {% csrf_token %}

    Teksts ko atšifrēt: <input type="text" name="crtext" required><br><br>
    Atslēga1: <input type="text" name="key1" required><br><br>
    Atslēga2: <input type="text" name="key2"><br><br>
    Atslēga3: <input type="text" name="key3"><br><br>
    <input type="submit">
</form>
{% endblock %}